#navbar{
	padding: 15px;
	display:block;
	text-align: center;
	}

.navpage{
	text-decoration: none;
	font-size: 32px;
	margin-left: 50px;
	color: white ;
	font-family: 'Montserrat', sans-serif;

}
.navpage:hover {
	padding-bottom: 16px;
	border-bottom: 2px solid white;
}
.grayStyle{
	text-decoration: none;
	font-size: 32px;
	margin-left: 50px;
	color: #89B2CC;
	font-family: 'Montserrat', sans-serif;
}
.grayStyle:hover {
	padding-bottom: 16px;
	border-bottom: 2px solid white;
}
#top{
	border: 0;
	padding: 0;
	background-color: #E8CA21 ;
	height: 600px;
	background-image: url(https://v1.padlet.pics/1/image.webp?t=c_limit%2Cdpr_1%2Ch_626%2Cw_1366&url=https%3A%2F%2Fpadlet-uploads.storage.googleapis.com%2F670195221%2F6698b96d7ea5bdc3f7726d239e9ce2d3%2FWhatsApp_Image_2020_09_16_at_12_28_56.jpeg);
	background-repeat: no-repeat;
	background-size: cover;	


}

body{
	border: 0;
	padding: 0;
	margin: 0;

}

.vd{
	display: block;
	text-align: center;
	margin-left: auto; 
	margin-right: auto; 
	margin-top: 40px;
	border-radius: 15px;
}
h1{
	margin-top: 30px;
	color: #89B2CC;
	font-family: 'Montserrat', sans-serif;
	text-align: center;

}